* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
}

main {
    width: 100vw;
}

.container-nav-left {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #0b1723;
    z-index: 1;
}

.container-nav-bottom {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: yellow;
    z-index: 5;
}

.container {
    position: relative;
    top: 0;
    width: 100%;
    height: 300vh;
    background-color: red;
    padding-left: 200px;
}

.container-upgrade {
    height: 100px;
    width: 100%;
    background-color: #152a3f;
}

.upgrade-btn {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #152a3f;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.upgrade-btn:hover {
    cursor: pointer;
    border: black;
    color: black;
    background-color: white;
}

#spotify {
    color: white;
    font-size: 50px;
    padding: 10px;
}
